modules = ["nodejs-22", "dotnet-9.0", "web"]
run = "cd backend/src & dotnet run"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "Frontend Dev"

[[workflows.workflow]]
name = "Frontend Dev"
author = 46831471
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev -- --port 3000"
