modules = ["nodejs-22", "dotnet-9.0", "web"]
run = "cd backend/src & dotnet run"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[[ports]]
localPort = 8080
externalPort = 80
